@using Hospital.Models.Entity
@model List<Mesaj>
@{
    ViewBag.Title = "SekreterMesaj";
    Layout = "~/Views/Shared/Sekreter.cshtml";
}

<div style="padding-left:80px;padding-top:20px">
    <h2>Mesajlarım</h2>
    <table class="table table-bordered">
        <tr>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Mesaj</th>
            <th>Tarih</th>
        </tr>
        @foreach (var ktg in Model)
        {
            <tr>
                <td>@ktg.GÖNDEREN</td>
                <td>@ktg.KONU</td>
                <td>@ktg.MESAJ1</td>
                <td>@ktg.TARIH</td>


                <td align="center">
                    <a href="/SekreterMesajYolla/MesajSil/@ktg.ID" class="btn btn-danger">Sil</a>
                </td>
                <td align="center">
                    <a href="/SekreterMesajYolla/MesajGetir/@ktg.ID" class="btn btn-info">Düzenle</a>
                </td>
            </tr>

        }

    </table>
</div>
<div style="padding-left: 80px">
    <a href="/SekreterMesajYolla/YeniMesaj/" class="btn btn-dark">Yeni Bölüm Ekle</a>
</div>
