@model Hospital.Models.Entity.Mesaj
@{
    ViewBag.Title = "TestGetir";
    Layout = "~/Views/Shared/Lab.cshtml";
}

@using (Html.BeginForm("TestDüzenle", "Lab", FormMethod.Post, new {enctype="multipart/form-data"} ))
{
<form class="u-form-group" method="post">
    <div style="padding-left:80px;padding-top:20px">
        @Html.HiddenFor(t => t.ID, new { @class = "form-control" })

        @Html.Label("Döküman")
        <input type="file" name="Sonuc" />
        <input type="submit" value="Kaydet" />
    </div>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

</form>
}

